.list-item{
    width: 20rem;
    
}

.list-item-link{
    text-decoration: none;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    gap: 1.4rem;
    padding: 1rem;
    color: var(--light);
}

.list-item-link:hover{
    background-color: var(--tertiary);
}