.products {
    position: relative;
    height: 100%;
    background-color: var(--secondary);
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;

    gap: 0.8rem;

    padding: 0.4rem 0.6rem 0.4rem 0.6rem;
}
